.topnav{
    display: grid;
    grid-template-areas: 
    /*es indiferente usar comillas simples o dobles*/
    'nav1'
    'nav2'
    'nav3';
    /*No hace falta asignarle clases a los enlaces. De esta manera lo que estamos haciendo
    es decir que si hay 3 elementos se ordenen de esta forma.*/
}



.content{
    display: grid;
    grid-template-areas: 
    'elemento1'
    'elemento2'
    'elemento3';
}
    .texto{
        grid-area: elemento1;
    }
    
    .formulario{
        grid-area: elemento2;
    }
    
    .imagen{
        grid-area: elemento3;
    }


@media (min-width:600px){
    .topnav{
        grid-template-areas: 'nav1 nav2 nav3';
    }
    .content{
        grid-template-areas: 
        'elemento1 elemento3 elemento3'
        'elemento2 elemento2 elemento2';
    }
}