.topnav{
    display: flex;
    flex-direction:column;
}
.content{
    display:flex;
    flex-wrap:wrap ;

}
.texto{
flex: 100%;
}
.imagen{
    flex: 100%;
}
.formulario{
    flex:100%;
}
/*diseño escritorio*/
@media (min-width: 600px){
    .topnav{
        flex-direction: row;
    }
    .texto{
        flex:30%;
    }
    .imagen{
        flex:30%;
    }
    .fomulario{
        flex:40%;
    }
}