.content{
    display: grid;
    grid-template-areas:
    'elemento1'
    'elemento2'
    'elemento3';
}
.texto{
    grid-area: elemento1;
}
.imagen{
    grid-area: elemento3;
}
.formulario{
    grid-area: elemento2;
}
.topnav{

}
@media  (min-width: 600px){
    .topnav{
        grid-template-areas: nav1 nav2 nav3;
    }
}